@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@400;500;600&family=Roboto:wght@100;300;400&family=Shantell+Sans:wght@300;400&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Noto Serif Bengali', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shantell Sans', cursive;
    overflow-x: hidden;
}

nav{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #0C1B2E;
    font-family: roboto;
    

}

.logo{
    display: flex;
    flex-direction: row;
}

.logo p {
    color: white;
    display: block;
    
    margin-left: 15px;
    margin-top: 20px;
}
.logo img{
    height: 40px;
    display: block;

    margin-left: 80px;
    margin-top: 7px;

}


nav ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 80px;
    top: 12px;

}

nav ul li{
    display: flex;
    list-style: none;
    margin-right: 10px;
    

    

}

nav ul li a{
    text-decoration: none;
    color: white;
    background-color: #3a35563d;
    padding: 12px;
    border-radius: 7px;
    font-size: 16px;
    


}

.body{
    background-color: #0C1222;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;

}

.title{
    color: #45A3DA ;
    font-family: Roboto;
    font-size: 65px;
    margin-top: 70px;

}

.titles{
    color: #FEB100;
}


.mainp{
    color: white;
    font-weight: 200;
    margin-top: 20px;
    font-size: 25px;
    width: 70%;
    margin-bottom: 30px;
}

.mainps{
    font-size: 25px;

    width: 70%;
    color: white;
}

.mainbtn{
    margin-top: 50px;
    width: 200px;
    padding: 10px;
    background-color: #0E1329;
    border-radius: 10px;
    border: 2px solid white;
}

.mainbtn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.mainbtn:hover{
    background-color: #6e7699bc;
}


.right{
    width: 50%;
    
    
}

.video{
    height: 50%;
    width: 90%;
    background-color: #0E1329;
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 1%;

}
#video{
    border-radius: 50px;
}

/*--------------------------*/


.secpage{
    background-color: #0D1322;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.sechead{
    height: 150px;
    margin: auto;
    margin-top: 15px;
}

.sechead img{
    height: 80px;
    margin-left: 170px;

}
.sechead h1{
    text-align: center;
    color: white;
}
.sechead h3{
    text-align: center;
    color: white;
}




.seccon{
    height: auto;
    width: 80%;

    
    background-color: #17213200;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 5px;
    row-gap: 5px;
    margin-top: 0;
    
  
    
}

.seccon1{
    height: 200px;
    width: 400px;
    background-color: #172132;
    margin: auto;
    padding: 5px;
   
}

.seccon1:hover{
    border: 1px solid white;

}

.seccon1 svg{
    height: 45px;
    width: 45px;
    color: rgb(34, 93, 149);
    text-align: center;
    margin-left: 45%;
    margin-top: 25px;
}

.seccon1 p{
    font-size: 20px;
    color: white;
    margin-top: 25px;
    text-align: center;
}


/*--------------------------*/

.thirdp{
    height: 100vh;
    background-color: #0D1322;
    display: flex;
    flex-direction: column;
}

.hhead{
    height: 150px;
    margin: auto;
    margin-top: 15px;
}
#thimg{
    height: 80px;
    margin-left: 48%;
    
}
#thh1{
    text-align: center;
    color: white;
}

.thbody{
    display: flex;
    flex-direction: row;
}

.leftth{
    width: 40%;
}
.leftth img{
    height: 350px;
    margin-top: 20%;
    margin-left: 20%;
}

.rightth{
    width: 45%;
    background-color: #172132;
    margin-left: 10%;
    margin-top: 5%;
    height: 400px;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 10px;


}

.serial{
    width: 5px;
    font-family: roboto;

    height: 600px;
    background-color: white;
    position: relative;
    left: 10px;
    top: 30px;
    
    
}
.serialk{
    height: 30px;
    width: 30px;
  
    font-size: 25px;
    background-color: #a1a4b6cb;
    margin-top: 0px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: white;
    position: relative;
    left: -10px;
}

/* serial maintainers */
#serial1{
    position: relative;
    top: -2px;
}
#serial2{
    position: relative;
    margin-top: 135px;
}
#serial3{
    position: relative;
    margin-top: 110px;
}
#serial4{
    position: relative;
    margin-top: 105px;
}
#serial5{
    position: relative;
    margin-top: 105px;
}


/* serial maintainers end */











.contth{
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-left: 25px;
    margin-top: 25px;
}

.contth p{
    background-color: #303541bd;
    padding: 15px;
    border-radius: 10px;
}

/*All Weeks*/

.week1{
    font-size: 25px;
    font-weight: bold;
    color: #a1a4b6cb;
}

#week1{
    font-size: 20px;
    color: white;
    font-weight: 200;
}

#week1bt{
    font-size: 18px;
    color: white;
    background-color: #0D1322;
    padding: 8px;
    top: 8px;
    position: relative;
    border-radius: 5px;
    font-weight: 200;

}

.week2{
    font-size: 25px;
    font-weight: bold;
    color: #a1a4b6cb;
}

#week2{
    font-size: 20px;
    color: white;
    font-weight: 200;
}

#week2bt{
    font-size: 18px;
    color: white;
    background-color: #0D1322;
    padding: 8px;
    top: 8px;
    position: relative;
    border-radius: 5px;
    font-weight: 200;

}
.week3{
    font-size: 25px;
    font-weight: bold;
    color: #a1a4b6cb;
}

#week3{
    font-size: 20px;
    color: white;
    font-weight: 200;
}

#week3bt{
    font-size: 18px;
    color: white;
    background-color: #0D1322;
    padding: 8px;
    top: 8px;
    position: relative;
    border-radius: 5px;
    font-weight: 200;

}

.week4{
    font-size: 25px;
    font-weight: bold;
    color: #a1a4b6cb;
}

#week4{
    font-size: 20px;
    color: white;
    font-weight: 200;
}

#week4bt{
    font-size: 18px;
    color: white;
    background-color: #0D1322;
    padding: 8px;
    top: 8px;
    position: relative;
    border-radius: 5px;
    font-weight: 200;

}
#week4bt1{
    font-size: 18px;
    color: white;
    background-color: #0D1322;
    padding: 8px;
    top: 8px;
    position: relative;
    border-radius: 5px;
    font-weight: 200;

}
.week5{
    font-size: 25px;
    font-weight: bold;
    color: #a1a4b6cb;
}

#week5{
    font-size: 20px;
    color: white;
    font-weight: 200;
}

#week5bt{
    font-size: 18px;
    color: white;
    background-color: #0D1322;
    padding: 8px;
    top: 8px;
    position: relative;
    border-radius: 5px;
    font-weight: 200;

}
#week5bt1{
    font-size: 18px;
    color: white;
    background-color: #0D1322;
    padding: 8px;
    top: 8px;
    position: relative;
    border-radius: 5px;
    font-weight: 200;

}

@media screen and (max-width: 550px){
    body{
        overflow-x: hidden;
    }
   
    #navbar{
        display: none;
    }
    .logo img{
        margin-left: 30px;
    }

    .body{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .title{
        font-size: 30px;
        margin-top: 20px;
        margin-left: 25px;

        
    }
    .left{
        margin: 0;
        width: 100%;
    }
    .mainp{
        font-size: 18px;
        font-weight: bold;
        width: 90%;
        margin-bottom: 10px;
        margin-left: 25px;
    }
    .mainps{
        font-size: 18px;
        font-weight: bold;
        width: 90%;
        margin-top: 10px;
        margin-left: 25px;

    }
    .mainbtn{
        margin-top: 20px;
        margin-left: 25px;

    }
    .right{
        display: none;
    }
    .secpage{
        height: fit-content;
    }
    .sechead{
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .thirdp{
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .thhead{
        margin-top: 50px;
    }
    .thbody{
        display: flex;
        flex-direction: column;
    }
    #thh1{
        font-size: 30px;
    }
    #thimg{
        align-items: center;
        justify-content: center;
    }
    .leftth{
        display: none;
    }
    .rightth{
        width: 90%;
        justify-content: center;
        margin-left: 20px;
        padding: 6px;
    }
    #serial2{
        margin-top: 170px;
    }
    #serial3{
        margin-top: 110px;
    }
    #serial4{
        margin-top: 110px;
    }
    #serial5{
        margin-top: 140px;
    }
    .serial{
        height: fit-content;
    }

}





